/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

/* Top Bar */
.topbar {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 100%;
    background-color: #333333;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.user {
    margin-right: 20px;
    color: #ffae42;
    font-weight: bold;
}

/* Left Sidebar */
.left-bar {
    background-color: #222222;
    color: #ffffff;
    position: fixed;
    width: 250px;
    height: 100%;
    top: 60px;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
}

.left-bar-container {
    padding: 20px;
}

.left-bar-button,
.left-bar-button-logout {
    background-color: transparent;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    .left-bar-button-logout {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom as needed */
    left: 0;
    width: 100%;
}

}

.left-bar-button-logout {
    margin-top: auto;
}

.left-bar-button:hover,
.left-bar-button-logout:hover {
    background-color: #ffae42;
    border-left: 4px solid #ffae42;
    color: #222222;
}

/* Main Content */
.main-wrapper {
    position: absolute;
    left: 250px;
    top: 60px;
    width: calc(100% - 250px);
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
}

.welcome-container {
    padding: 20px;
    background-color: #333333;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

/* Authentication */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background: linear-gradient(#ff42ec, #333333);
}

.auth-wrapper {
    text-align: center;
}

.auth-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.auth-heading {
    font-size: 2rem;
    color: #333333;
    margin-bottom: 20px;
}

.auth-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #333333;
    background-color: #f5f5f5;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.auth-field:focus {
    outline: none;
    border-color: #ffae42;
}

.auth-btn {
    width: 100%;
    padding: 10px;
    background-color: #ffae42;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.auth-btn:hover {
    background-color: #ff8000;
}

.auth-links {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #ffae42;
    font-weight: italic;
    transition: color 0.3s ease;
}

.auth-links:hover {
    color: #ff8000;
}

a {
    text-decoration: none;
    color: #ffae42;
}

/* Custom Element */
.siG {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
    height: 4em;
    width: 24em;
    margin: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 3px dashed #9891ff;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.siG:hover {
    transform: scale(1.1);
    box-shadow: 0 0 12px #c7c7c7;
    cursor: pointer;
}

.siG p {
    font-size: 20px;
}
